In [2]:
import databento as db
import numpy as np
import pandas as pd
import glob

In [24]:
sym_1 = "AAPL"

# Get all CSV files in the data folder per desired symbol
sym1_files = glob.glob(f'data/EQUS-OHLCV-1d/equs-mini-20230328-20251003.ohlcv-1d.{sym_1}.dbn.zst')

# Read all files into a list of dataframes
dfs_sym1 = [db.DBNStore.from_file(file).to_df() for file in sym1_files] #UTC time

# Concatenate and sort
sym1 = pd.concat(dfs_sym1, join='inner').sort_index()

# Combine into one dataframe
data = pd.DataFrame({"sym1": sym1['close']}).ffill() #forward fill any missing times

data

                             sym1
ts_event
2023-03-28 00:00:00+00:00  157.69
2023-03-29 00:00:00+00:00  160.35
2023-03-30 00:00:00+00:00  162.24
2023-03-31 00:00:00+00:00  164.86
2023-04-03 00:00:00+00:00  166.07
...                           ...
2025-09-29 00:00:00+00:00  254.10
2025-09-30 00:00:00+00:00  254.00
2025-10-01 00:00:00+00:00  255.41
2025-10-02 00:00:00+00:00  257.44
2025-10-03 00:00:00+00:00  257.88

[633 rows x 1 columns]